.session_id
.DS_Store
.venv
.git
__pycache__
/2021/Day 11/images_part_2/*.png
.vscode/settings.json
/2021_old
Advent of Code.code-workspace
scratchpad.*
2022/Day 07/root
2023/Day 08/ellis.py
2023/Day 12/day12.py
**/input.txt
.pytest_cache
.python-version
